.column.col-4.col-xs-12.top-bottom-padding
    .card
        .card-image
        .card-header
            %h4= conference.name

        .card-body
            %p= conference.description
            -# %strong= conference.location
            %p= conference.start_date
            %p= conference.end_date
            %p= "#{conference.events.count} Events"

        .card-footer
            %a.btn.btn-primary{ href: conference_show_path(url: conference.url) } View

            - unless attending_conference?(conference)
                = link_to "Attend", conference_events_path(conference_id: conference.id), method: :post, class: "btn btn-secondary"
