.bg-gray
    %h1= @conference.name
    %p= @conference.description
    %p= @conference.start_date
    %p= @conference.end_date

    - unless attending_conference?(@conference)
        = link_to "Attend", conference_conf_attendees_path(conference_id: @conference.id), method: :post
    - else
        %strong You're attending.

.container
    .columns
        = render partial: "events/event", collection: @events, locals: { event: @events }

    %a.btn{ href: conferences_path } Back to Conferences List
