.column.col-4.col-xs-12.top-bottom-padding
    .card
        .card-header
            %h4= event.name

        .card-body
            %p= event.description
            %p= event.location
            %p= event.starts_at
            %p= event.ends_at
            %p= "#{event.attendees.count} Attendees"

        .card-footer
            %a.btn.btn-primary{ href: "#" } Add to schedule
