<% content_for(:title, 'Login - ConfScheduler') %>

<section class="section-hero">
  <div class="grid-hero container grid-lg">
    <div class="columns flex-centered">
      <div class="col-4">
        <h2>Log in</h2>

        <div class="section">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
            </div>

            <div class="form-group">
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field :password, autocomplete: "off", class: "form-input" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions top-bottom-padding">
              <%= f.submit "Log In", class: "btn btn-primary u-full-width" %>
            </div>
          <% end %>

          <div class="text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
